*.wave linguist-language=Wave
*.txt linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.ts linguist-vendored
*.sh linguist-vendored
Makefile linguist-vendored
Dockerfile linguist-vendored