[package]
name = "wavec"
version = "0.1.4-pre-beta-nightly-2025-07-16"
edition = "2021"

# [target.x86_64-apple-darwin]
# linker = "clang"
# [target.aarch64-apple-darwin]
# linker = "clang"

[dependencies]
colorex = "0.1.0"
lexer = { path = "front/lexer" }
parser = { path = "front/parser" }
llvm_temporary = { path = "./llvm_temporary" }

[workspace]
members = [
    "front/lexer",
    "front/parser",
    "llvm_temporary",
    "front/error",
    ".",
]
