[package]
name = "wavec"
version = "0.1.5-pre-beta"
edition = "2021"

[lib]
name = "wavec"
path = "src/lib.rs"

# [target.x86_64-apple-darwin]
# linker = "clang"
# [target.aarch64-apple-darwin]
# linker = "clang"

[dependencies]
colorex = "0.1.0"
lexer = { path = "front/lexer" }
parser = { path = "front/parser" }
error = { path = "front/error" }
llvm_temporary = { path = "./llvm_temporary" }

[workspace]
members = [
    "front/lexer",
    "front/parser",
    "llvm_temporary",
    "front/error",
    ".",
]
