name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install LLVM 21
        run: |
          sudo apt-get update
          sudo apt-get install -y wget software-properties-common
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21

      - name: Build
        run: |
          export LLVM_SYS_211_PREFIX=/usr/lib/llvm-21
          cargo clean
          cargo build --verbose
      - name: Run tests
        run: cargo test --verbose

  build-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install LLVM 21
        run: |
          brew update
          brew install llvm@21

      - name: Set LLVM env
        run: |
          echo "LLVM_SYS_211_PREFIX=$(brew --prefix llvm@21)" >> $GITHUB_ENV
          echo "LLVM_CONFIG_PATH=$(brew --prefix llvm@21)/bin/llvm-config" >> $GITHUB_ENV

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
