name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install LLVM 14
        run: |
          sudo apt-get update
          sudo apt-get install llvm-14 llvm-14-dev clang-14 libclang-14-dev lld-14
          sudo ln -s /usr/lib/llvm-14/lib/libLLVM-14.so /usr/lib/libllvm-14.so
      - name: Set LLVM environment variables
        run: |
          export LLVM_SYS_140_PREFIX=/usr/lib/llvm-14
      - name: Build
        run: |
          source ~/.bashrc
          cargo clean
          cargo build --verbose
      - name: Run tests
        run: cargo test --verbose

  build-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install LLVM 14
        run: |
          brew update
          brew install llvm@14

      - name: Set LLVM environment variables
        run: |
          if [ -d "/usr/local/opt/llvm@14" ]; then
            echo "LLVM_SYS_140_PREFIX=/usr/local/opt/llvm@14" >> $GITHUB_ENV
            echo "PATH=/usr/local/opt/llvm@14/bin:$PATH" >> $GITHUB_ENV
          else
            echo "LLVM_SYS_140_PREFIX=/opt/homebrew/opt/llvm@14" >> $GITHUB_ENV
            echo "PATH=/opt/homebrew/opt/llvm@14/bin:$PATH" >> $GITHUB_ENV
          fi

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cargo check
        run: cargo check --verbose
