name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install LLVM 21
        run: |
          sudo apt-get update
          sudo apt-get install llvm clang
      - name: Build
        run: |
          source ~/.bashrc
          cargo clean
          cargo build --verbose
      - name: Run tests
        run: cargo test --verbose

  build-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install LLVM 21
        run: |
          brew update
          brew install llvm@21

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install LLVM 21
        run: |
          choco install llvm

      - name: Run Check
        run: cargo check --verbose
